@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  background-color: rgb(24, 24, 24);
}
header{
  user-select: none;
  display: flex;
  flex-direction: row;
  background: rgb(56, 56, 56);
  justify-content: space-between;
  border-bottom: 3px solid var(--blue);
  height: 100px;
  width: 100%;
}
.menu{
  display: none;
}
#navImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
#navImg>img{
  height: 100px;
}
header>nav{
  display: flex;
  align-items: center;
}
header>nav>ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin-right: 50px;
}
header>nav>ul>li>a{
  font-family: "lemonmilkboldita";
  font-weight: 100;
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 18px;
  transition: 0.3s;
}
a:hover{
  color: var(--blue);
  transition: 0.3s;
}
.active{
  border-bottom: 3px solid var(--blue);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
main>article{
  width: 70%;
  margin-left: 50px;
}
main>article>p{
  color: white;
  font-family: 'lemonmilklight', sans-serif;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-size: 15px;
  letter-spacing: 2.5px;
}
main>article>p>a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: 'lemonmilklight', sans-serif;
}
main>.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inscription{
  background: var(--blue);
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}
#inscription>a{
  text-decoration: none;
}
#inscription>a>p{
  color: white;
  font-style: italic;
  font-size: 20px;
  font-family: 'lemonmilkboldita', sans-serif;
}
main>.button-container>img{
  width: 600px;
}
@media screen and (max-width: 1024px) {
  main{
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }
  main>article>p{
    font-size: 12px;
  }
  main>article>p>a{
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  main{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  main>article>p{
    font-size: 12px;
  }
  header>nav>ul>li>a{
    font-size: 10px;
    margin-right: 5px;
  }
  main{
    flex-direction: column;
  }
  header>nav>ul{
    margin-right: 5px;
  }
}
@media screen and (max-width: 425px) {
  main{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  main>article>p{
    font-size: 12px;
  }
  #navImg>img{
    height: 75px;
  }
  header>nav>ul>li>a{
    font-size: 10px;
    margin-right: 5px;
  }
  main>.button-container>img{
    width: 200px;
  }
  main{
    flex-direction: column;
  }
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 200px; /* Adjust the width as needed */
  margin-bottom: 10px; /* Optional: Add some spacing above the buttons */
}

.button-container button {
  padding: 10px;
  /* Add any additional styles as needed */
}

.button-discord{
  border: 4px solid rgb(0, 0, 155);
  border-radius: 15px;
  padding: 5px;
  transition: 0.3s;
}
.button-discord:hover{
  border: 4px solid rgb(0, 0, 226);
  transition: 0.3s;
}
.button-event{
  border: 4px solid rgb(155, 0, 0);
  border-radius: 15px;
  padding: 5px;
  transition: 0.3s;
}
.button-event:hover{
  border: 4px solid rgb(226, 0, 0);
  transition: 0.3s;
}