@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: rgb(24, 24, 24);
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}

a:hover {
  color: aqua;
}
header {
  user-select: none;
  display: flex;
  flex-direction: row;
  background: rgb(56, 56, 56);
  justify-content: space-between;
  border-bottom: 3px solid var(--blue);
  height: 100px;
  width: 100%;
}
.menu {
  display: none;
}
#navImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
#navImg > img {
  height: 100px;
}
header > nav {
  display: flex;
  align-items: center;
}
header > nav > ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin-right: 50px;
}
header > nav > ul > li > a {
  font-family: "lemonmilkboldita";
  font-weight: 100;
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 18px;
  transition: 0.3s;
}
a:hover {
  color: var(--blue);
  transition: 0.3s;
}
.active {
  border-bottom: 3px solid var(--blue);
}

body::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  #menu {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 100%;
  }

  li {
    width: 100%;
  }

  .menu {
    display: block;
  }
}

main .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 80px;
  max-width: 90vw;
}

main .content {
  width: 50%;
  max-width: 90%;
}

main .content {
  width: auto;
  margin: 20px 0;
}

main .content img {
  max-width: 90%;
  user-select: none;
}

main img {
  max-width: 100%;
}

main {
  margin: 40px auto 0 auto;
  margin-top: 40px;
  text-align: center;
}

.club {
  text-align: center;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 350px;
  max-width: 90%;
  min-height: 400px;
  cursor: pointer;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.club:hover {
  background-color: rgb(70, 70, 70);
}

.club p {
  font-style: normal;
  text-transform: none;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}
