:root{
    --blue: rgb(0, 204, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lemon milk bold italic';
}
*::selection {
    background: var(--blue)
}
@font-face {
    font-family: "lemonmilkregular";
    src: url("../font/LEMONMILK-Regular.otf");
}
@font-face {
    font-family: "lemonmilkboldita";
    src: url("../font/LEMONMILK-BoldItalic.otf");
}
@font-face {
    font-family: "lemonmilklight";
    src: url("../font/LEMONMILK-Light.otf");
}
